.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('@/assets/img/banner/banner--index.jpg');
}

.banner__mask {
  min-height: 100vh;
  background-color: rgba(#1c4852, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__logo{
  width: 80%;
  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.banner__search{
  display: flex;
  justify-content: center;
}

$bannerImages: (
  index: url('@/assets/img/banner/banner--index.jpg'),
  food: url('@/assets/img/banner/banner--food.jpg'),
  hotel: url('@/assets/img/banner/banner--hotel.jpg'),
  tourism: url('@/assets/img/banner/banner--tourism.jpg')
) !default;

@each $name, $url in $bannerImages {
  .banner--#{$name} {
    background-image: $url;
  }
}

.input--mid {
  @include media-breakpoint-up(lg) {
    min-width: 270px;
  }
}
